.section-benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits-item {
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.box-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .benefits-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .section-benefits {
    padding-top: 94px;
  }

  .benefits-list {
    gap: 0;
  }

  .benefits-item {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .benefits-title {
    text-align: left;
  }
}

// .section-benefits {
//   padding-top: 94px;
// }

// .benefits-list {
//   display: flex;
//   flex-wrap: wrap;
// }

// .benefits-item {
//   max-width: 270px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .box-icon {
//   height: 120px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #f5f4fa;
//   border-radius: 4px;
//   margin-top: 0;
//   margin-bottom: 30px;
// }
// .benefits-title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.2;
//   letter-spacing: 0.03em;
//   margin-top: 0;
//   margin-bottom: 10px;
//   text-transform: uppercase;
// }

// .benefits-text {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
//   margin: 0;
//   color: var(--title-text-color);
// }
